*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: linear-gradient(rgba(12, 12, 12, 0.432),rgba(148, 148, 148, 0.13)), #303030f5;
    transition: all 0.5s ease;
}

.sidebar header{
    user-select: none;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    background: #303030f5;
    color: whitesmoke;
}
.sidebar li a{
  color: whitesmoke;
}
.sidebar li{
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    display: block;
    cursor:pointer;
    border-top: 2px solid  #18181894;
}
.sidebar li:hover{
    transition:ease-in-out 0.5s;
    background:#404040;
    
}
#check{
    display: none;
}
label #btn-icon,label #btn-cancel{
    position: absolute;
    cursor: pointer;
    background: #282828;
    border-radius: 50%;
}
label #btn-icon{
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: whitesmoke;
    padding: 11px 13px;
    transition: all 0.5s;
}

label #btn-cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color:whitesmoke;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn-icon{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #btn-cancel{
    left: 195px;
}

section{
    background: linear-gradient(rgba(0, 0, 0, 0.164),rgba(0, 0, 0, 0.329)), url('../img/b2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    height: 100vh;
    transition: all 0.5s;
}

#check:checked ~ section{
    margin-left: 250px;
}

/* Form box  */

form{
    padding-top: 100px;
}

form input{
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 2px;
    width: 400px;
    border: 4px solid rgb(65, 56, 56);
    background: rgb(192, 192, 192);
    border-radius: 10px;
    font-size: 20px;
}

::placeholder { 
    color: rgba(128, 128, 128, 0.753);
    opacity: 1; /* Firefox */

  }
  
  table label{
    border-radius: 3px;
    padding: 5px 4px;
    background: rgba(107, 109, 105, 0.473);
  }

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  /* submit button add book  */

  #btn-Book {
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 20px;
    text-shadow: 0px 0px 0px #3D4054;
    box-shadow: 0px 0px 0px #BEE2F9;
    padding: 11px 25px;
    border-radius: 29px;
    border: 0px solid #3866A3;
    background: #2A2661;
  }
  #btn-Book:hover {
    color: #030A12 !important;
    background: #8B87CF;
  }

  .display-none{
      display: none;
      transition: all 0.5s;
  }

  /* table  */

  .table-div {
    overflow-x: auto;
  }
  .table-issuebook {
    margin: 0 auto;
   border: black;
    width: 80%;
    color: whitesmoke;
  }
  .table-issuebook th,
  td {
    text-align: center;
    padding: 8px 0px;
  }
  .table-issuebook tr:nth-child(even) {
    background-color: #353535e3;
  }
  .table-issuebook tr:nth-child(odd) {
    background-color: #4d4d4de3;
  }

  /* table-btn  */
  .btn-issueBook {
    font-family: arial;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 13px;
    text-shadow: 1px 1px 0px #2A2D30;
    padding: 11px 24px;
    border-radius: 22px;
    background: #5f5f5f;
  }
  .btn-issueBook:hover {
    color: #FAFAFA !important;
    background: #373738;
  }

  /* *****************************  */